body, html, .container {
    margin: 0;
    height: 100%; 
}

.selected {
    padding: 18px;
    width: auto;
    height: auto;
}

.leftContent {   
    background-color: turquoise;
    justify-content: center;
    align-items: center;     
    border-right-style: solid;
}

.seleccion { 
    row-gap: 20px;
}

.instructions {       
   align-items: center; 
}

.resultsPlayer {    
    align-items: center;  
     
}

.playerScore , .pcScore{
    padding-left: 25px;
    padding-top: 50px;
}

.score {
    background-color: black;
    color: white;
}

.resultsTitle { 
    padding-top: 10px;
}

.scoreHeaders {
    text-align: center;
    font-size: 25px;
}
 
.scoreContent {
    font-family: 'Abril Fatface', cursive;
}

.scoreResult {  
    text-align: center; 
    padding-top: 15px;
    font-size: 20px;
}

.ending { 
    align-items: center;
}

/* css for modal  */ 

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */ 
    padding-top: 50vh; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  }
  
  /* Modal Content */
  .modal-content {
  /*  background-color: #fefefe; */
    background-color: turquoise;
    margin: auto;
    padding: 20px;
    border: 2px solid black;
    width: 30%;

  }
  
  /* The Close Button */
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

   